<!-- cards -->
<div class="bg">
    <div class="container">
        <!-- card lider -->
        <section class="lider">
            <div class="row">
                <div class="col-md-6">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p class="title">Vasquez Ramiro</p>
                            <p>Líder</p>
                        </div>
                        <div class="flip-card-back">
                            <p>2994246590</p>
                            <p>45207750</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!-- card administracion y contable -->
        <section class="admin">
            <div class="row">
                <div class="col-md-4">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Tapia Diego</p>
                                <p>Jefe</p>
                                <p>Administración y Contable</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2996214469</p>
                                <p>45212149</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Langley Facundo</p>
                                <p>Suplente</p>
                                <p>Administración y Contable</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2995803856</p>
                                <p>45181051</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Altabelapis Santino</p>
                                <p>Integrante</p>
                                <p>Administración y Contable</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2996015329</p>
                                <p>45015537</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Burboa Manuel</p>
                                <p>Integrante</p>
                                <p>Administración y Contable</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2996747469</p>
                                <p>45207727</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Zuazo Thiago</p>
                                <p>Integrante</p>
                                <p>Administración y Contable</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2996208511</p>
                                <p>45458643</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- card rrhh y legales  -->
        <section class="rrhh">
            <div class="row">
                <div class="col-md-4">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Diaz Victoria</p>
                                <p>Jefe</p>
                                <p>RRHH y legales</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2996269443</p>
                                <p>45015553</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Aedo Maia</p>
                                <p>Suplente</p>
                                <p>RRHH y legales</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2994209274</p>
                                <p>45561028</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Diaz Joselyn</p>
                                <p>Integrante</p>
                                <p>RRHH y legales</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2995272251</p>
                                <p>94553652</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">García Abigail</p>
                                <p>Integrante</p>
                                <p>RRHH y legales</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2994113288</p>
                                <p>45112193</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Sarabia Gonzalo</p>
                                <p>Integrante</p>
                                <p>RRHH y legales</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2995760228</p>
                                <p>45561022</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- card compras  -->
        <section class="compras">
            <div class="row">
                <div class="col-md-4">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Pérez Santiago</p>
                                <p>Jefe</p>
                                <p>Compra</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2994246590</p>
                                <p>45212117</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Lagos Yoel</p>
                                <p>Suplente</p>
                                <p>Compra</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2995200548</p>
                                <p>45207897</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Chiara Lucila</p>
                                <p>Integrante</p>
                                <p>Compra</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2994597875</p>
                                <p>45208007</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">López Brisa</p>
                                <p>Integrante</p>
                                <p>Compra</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2995327406</p>
                                <p>44909621</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Salazar Daniela</p>
                                <p>Integrante</p>
                                <p>Compra</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2995773272</p>
                                <p>45212168</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- card comercialización  -->
        <section class="commerce">
            <div class="row">
                <div class="col-md-4">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Perales Amparo</p>
                                <p>Jefe</p>
                                <p>Comercialización</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2996564444</p>
                                <p>45015539</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Campos Gianinna</p>
                                <p>Suplente</p>
                                <p>Comercialización</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2996279444</p>
                                <p>45212199</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Parra Genaro</p>
                                <p>Integrante</p>
                                <p>Comercialización</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2996050616</p>
                                <p>45390328</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Rodríguez Brisa</p>
                                <p>Integrante</p>
                                <p>Comercialización</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2996201006</p>
                                <p>45733348</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Villa Milena</p>
                                <p>Integrante</p>
                                <p>Comercialización</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2995933180</p>
                                <p>45207956</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- card compras  -->
        <section class="compras">
            <div class="row">
                <div class="col-md-3">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Cáceres Juan</p>
                                <p>Jefe</p>
                                <p>Producción</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2996328897</p>
                                <p>45260531</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Collazo Mariano</p>
                                <p>Suplente</p>
                                <p>Producción</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2996202185</p>
                                <p>45208048</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Benega Jeremías</p>
                                <p>Integrante</p>
                                <p>Producción</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2995979049</p>
                                <p>44430360</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="title">Estévez Victoria</p>
                                <p>Integrante</p>
                                <p>Producción</p>
                            </div>
                            <div class="flip-card-back">
                                <p>2995087216</p>
                                <p>45212155</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>