<nav class="menum navbar navbar-light navbar-expand-lg justify-content-center fixed-top">
    <div class="container">

    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <a class="navbar-brand page-scroll" href="#" routerLink="inicio"><img src="../../../assets/img/carousel/logo.png" alt=""
            width="60px" height="60px"></a>
        <ul class="topBotomBordersOut navbar-nav mx-auto text-center">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="inicio">Inicio</a>
        </li>
        <li class="nav-item"> <a class="nav-link" href="#" routerLink="verano">Verano</a> 
        <li class="nav-item"> <a class="nav-link" href="#" routerLink="invierno">Invierno</a> 
        <li class="nav-item"> <a class="nav-link" href="#" routerLink="contacto">Contacto</a> 
        <li class="nav-item"> <a class="nav-link" href="#">Newsletter</a> 
        </li>
      </ul>
    </div>
    </div>   
</nav>
