<nav class="menum navbar navbar-light navbar-expand-lg justify-content-center fixed-top">
    <div class="container">

    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <a class="navbar-brand page-scroll" href="#" routerLink="inicio"><img src="../../../assets/LOGO.png" alt="logo"
            width="80px" height="80px"></a>
        <ul class="topBotomBordersOut navbar-nav mx-auto text-center">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/home">Inicio</a>
        </li>
        <li class="nav-item"> <a class="nav-link" href="#" routerLink="/equipo">Equipo</a> 
        <li class="nav-item"> <a class="nav-link" href="#" routerLink="/contacto">Contacto</a> 
        <li class="nav-item"> <a class="nav-link" href="#" routerLink="/nosotros">Sobre nosotros</a>
        </li>
      </ul>
    </div>
    </div>   
</nav>
