
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Contacto Minimalista</title>

</head>
<body>

  <section class="form-contact">
    <header>
      <span>
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </span>
    </header>

    <form action="" class="contact" method="POST">
      <label for="nombres">Nombres</label>
      <input type="text" name="nombres" id="nombres">

      <label for="correo">Correo</label>
      <input type="text" name="correo" id="correo">

      <label for="nombres">Celular</label>
      <input type="text" name="celular" id="celular">

      <label for="mensaje">Mensaje</label>
      <textarea name="mensaje" id="mensaje"></textarea>
      <input type="submit" value="Enviar">


    </form>
  </section>
  
</body>