<header>
    <section class="textos-header">
        <h1>GPets localiza a tu amigo</h1>
        <button class="learn-more" style="margin-top: 5px;">
            <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
            </span>
            <span>
                <a href="contacto" style="text-decoration:none;" class="button-text">
                    <p style="color:#fff;">
                        Contactanos
                    </p>
                </a>
            </span>
        </button>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C223.75,175.17 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;">
            </path>
        </svg>
    </div>
</header>
<section class="section">
    <div class="skill estadistica" style="float: left;">
        <div class="outer">
            <div class="inner">
                <div id="number">
                    <p>
                        100%
                        <br>
                        Ventas
                    </p>
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
            <defs>
                <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#ffc053" />
                    <stop offset="100%" stop-color="#5296ff" />
                </linearGradient>
            </defs>
            <circle cx="80" cy="80" r="70" stroke-linecap="round" />
        </svg>
    </div>
    <div class="skill_1 estadistica" style="float: left;">
        <div class="outer_1">
            <div class="inner_1">
                <div id="number_1">
                    <p>
                        40%
                        <br>
                        Ganancias
                    </p>
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="svg">
            <defs>
                <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#ffc053" />
                    <stop offset="100%" stop-color="#5296ff" />
                </linearGradient>
            </defs>
            <circle cx="80" cy="80" r="70" stroke-linecap="round" class="circle" />
        </svg>
    </div>
    <div class="skill_2 estadistica" style="float: left;">
        <div class="outer_2">
            <div class="inner_2">
                <div id="number_2">
                    <p>
                        100%
                        <br>
                        Producción
                    </p>
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="svg_1">
            <defs>
                <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#ffc053" />
                    <stop offset="100%" stop-color="#5296ff" />
                </linearGradient>
            </defs>
            <circle cx="80" cy="80" r="70" stroke-linecap="round" class="circle_1" />
        </svg>
    </div>
    <div class="skill_3 estadistica" style="float: left;">
        <div class="outer_3">
            <div class="inner_3">
                <div id="number_3">
                    <p>
                        20%
                        <br>
                        Gastos
                    </p>
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="svg_2">
            <defs>
                <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#ffc053" />
                    <stop offset="100%" stop-color="#5296ff" />
                </linearGradient>
            </defs>
            <circle cx="80" cy="80" r="70" stroke-linecap="round" class="circle_2" />
        </svg>
    </div>
</section>
<section class="contenido">
    <img src="../../../assets/pets-removebg-preview.png" alt="" class="header" height="230px" width="700px">
    <div>
        <p class="info" style="margin-top: 10px;">
            Todos los días observamos en nuestra ciudad y alrededores una gran cantidad de mascotas perdidas, a
            las
            cuales sus dueños buscan desesperadamente o realizan infinidad de acciones, desde informar la
            desaparición
            por redes sociales, radio, diario y otros medios de comunicación, hasta salir a recorrer calle por
            calle
            llamando a sus mascotas con la esperanza de que aparezca, y todo esto en busca de recuperarlos y
            poder tener
            con ellos a sus compañeros...
            <br>
            <button class="learn-more" style="margin-top: 10px; left: 500px;">
                <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                </span>
                <span>
                    <a href="nosotros" style="text-decoration:none;" class="button-text">
                        <p>
                            Leer más
                        </p>
                    </a>
                </span>
            </button>
        </p>
    </div>
</section>