<div class="container">
    <section class="content">
        <img src="../../../assets/header.png" alt="" class="header" height="250px" width="500px">
        <div class="text">
            <p class="info">
                Todos los días observamos en nuestra ciudad y alrededores una gran cantidad de mascotas perdidas, a las
            cuales sus dueños buscan desesperadamente o realizan infinidad de acciones, desde informar la desaparición
            por redes sociales, radio, diario y otros medios de comunicación, hasta salir a recorrer calle por calle
            llamando a sus mascotas con la esperanza de que aparezca, y todo esto en busca de recuperarlos y poder tener
            con ellos a sus compañeros...
            </p>
        </div>
        <a href="" routerLink="/nosotros">
            <button>Ver más</button>
        </a>
    </section>
</div>