<!-- footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <h6>Contáctanos</h6>
                <ul class="footer-links">
                    <li>
                        <mat-icon>schedule</mat-icon> Lunes - Viernes: 9:00 - 17:00
                    </li>
                    <li>
                        <mat-icon>email</mat-icon> oficialpetware@gmail.com
                    </li>
                    <li><a href="https://wa.me/2994209274">
                            <mat-icon>smartphone</mat-icon> +54 9 2994209274
                        </a></li>
                        <li><a href="https://wa.me/2995272251">
                            <mat-icon>smartphone</mat-icon> +54 9 2995272251
                        </a></li>
                        <li><a href="https://wa.me/2994113288">
                            <mat-icon>smartphone</mat-icon> +54 9 2994113288
                        </a></li>
                        <li><a href="https://wa.me/2996208511">
                            <mat-icon>smartphone</mat-icon> +54 9 2996208511
                        </a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3">
                <h6>Información</h6>
                <ul class="footer-links">
                    <li><a href="#" routerLink="/inicio">Inicio</a></li>
                    <li><a href="#" routerLink="/equipo">Equipo</a></li>
                    <li><a href="#" routerLink="/contacto">Contacto</a></li>
                    <li><a href="#" routerLink="/sobrenosotros">Sobre nosotros</a></li>
                    <li><a href="#" routerLink="/iniciar-sesion">Iniciar Sesión</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4">
                <h6>Visítanos en: </h6>
                <p class="text-justify">
                    <mat-icon>place</mat-icon> Paraguay 1050, Cipolletti, Río Negro
                </p>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text"> &copy; PETWARE
                </p>
                <p class="copyright-text">SoftGpets
                </p>
            </div>
        </div>
    </div>
</footer>