<!-- footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h6>Visítanos en: </h6>
                <p class="text-justify">
                    <mat-icon>place</mat-icon> JJ Lastra 5600, Neuquén, Neuquén, Argentina
                </p>
            </div>
            <div class="col-xs-6 col-md-3">
                <h6>Información</h6>
                <ul class="footer-links">
                    <li><a href="#" routerLink="inicio">Inicio</a></li>
                    <li><a href="#" routerLink="verano">Tienda</a></li>
                    <li><a href="#" routerLink="contacto">Contacto</a></li>
                    <li><a href="#" routerLink="como-comprar">Cómo comprar</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-4">
                <h6>Contáctanos</h6>
                <ul class="footer-links">
                    <li>
                        <mat-icon>schedule</mat-icon> Lunes - Viernes: 10:00 - 19:00
                    </li>
                    <li>
                        <mat-icon>email</mat-icon> MayvaIndumentaria@gmail.com
                    </li>
                    <li>
                        <mat-icon>phone</mat-icon> +54 9 2994755598
                    </li>
                    <li><a href="https://wa.me/2994209274">
                            <mat-icon>smartphone</mat-icon> +54 9 2994209274
                        </a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Mayva Indumentaria
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="instagram" href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a class="facebook" href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>